html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:"Barlow","Fraunces", sans-serif;
}
.container{
    width:100%;
    max-width:1440px!important;
    margin:0 auto;
    padding:20px 0px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .container {
        padding: 20px 20px;
    }
}

@media (max-width: 366px) {
    .container {
        padding: 20px 10px;
    }
}

img {
    max-width: 100%;
    height: auto;
}