.main {
    margin-top: 50px;

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 0px;
        margin: 100px 100px;
    }

    &__title {
        font-family: " Space Mono";
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -2.14px;
        width: 445px;
        color: #495567;
    }

    &__img {
        border-radius: 50%;
        display: block;
        margin: 50px auto;
    }

    &__text {
        font-family: "Lexend Deca";
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0px;
        max-width: 445px;
        margin: 20px 0px 30px;
        color: #939CAA;
    }

    &__link {
        font-family: "Space Mono";
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0px;
        text-align: center;
        background-color: #FCB72B;
        padding: 15px 30px;
        color: white;
        border: none;
    }

    &__link:hover {
        background: none;
        color: #FCB72B;
        border: 2px solid #FCB72B;
    }

    &__item__reverse {
        flex-direction: row-reverse;

    }

    // &__yellow__line{
    //     position: relative;
    //     z-index:2;
    //     bottom:100px;
    // }
    // &__left__line{
    //     position: relative;
    //     z-index:2;
    //     bottom:100px;
    // }
}

@media (max-width:769px) {
    .main {
        &__item {
            display: block;
            text-align: center;
            margin: 100px 20px;
            flex-direction: column-reverse;
            display: flex;
        }

        &__title {
            font-family: " Space Mono";
            font-weight: 700;
            font-size: 48px;
            line-height: 48px;
            letter-spacing: -2.14px;
            width: 100%;
        }

        &__text {
            font-family: "Lexend Deca";
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            letter-spacing: 0px;
            max-width: 100%;
            margin: 20px auto 30px;
        }
    }
}

@media (max-width:500px) {
    .main {
        &__item {
            display: block;
            text-align: center;
            margin: 50px 20px;
            flex-direction: column-reverse;
            display: flex;
        }

        &__item__left {
            margin-bottom: 100px;
        }

        &__title {
            font-family: " Space Mono";
            font-weight: 700;
            font-size: 32px;
            line-height: 32px;
            letter-spacing: -1.07px;
            width: 100%;
        }

        &__text {
            font-family: "Lexend Deca";
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            letter-spacing: 0px;
            max-width: 100%;
            margin: 20px auto 30px;
        }
    }
}

@media (max-width:365px) {
    .main {
        &__item {
            display: block;
            text-align: center;
            margin: 50px 20px;
            flex-direction: column-reverse;
            display: flex;
        }

        &__item__left {
            margin-bottom: 100px;
        }

        &__title {
            font-family: " Space Mono";
            font-weight: 700;
            font-size: 32px;
            line-height: 32px;
            letter-spacing: -1.07px;
            width: 100%;
        }

        &__text {
            font-family: "Lexend Deca";
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            letter-spacing: 0px;
            max-width: 100%;
            margin: 20px auto 30px;
        }
    }
}